<!DOCTYPE html>
<html>
<body>

<h2>enter your choice</h2>

<form name="passdata" action="/ml" method="post">
  <label for="fname">place 1</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">ratings</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>

  <label for="fname">place 2</label><br>
  <input type="text" id="fname1" name="fname1" value="John"><br>
  <label for="lname">ratings</label><br>
  <input type="text" id="lname1" name="lname1" value="Doe"><br><br>

  <label for="fname">place 1</label><br>
  <input type="text" id="fname2" name="fname2" value="John"><br>
  <label for="lname">ratings</label><br>
  <input type="text" id="lname2" name="lname2" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/ml.py".</p>

</body>
</html>